.SampleNamespace\.LinearInputControl input[type=range].linear-slider {   
    margin: 1px 0;   
    background:transparent;
    -webkit-appearance:none;
    width:100%;padding:0;
    height:24px;
    -webkit-tap-highlight-color:transparent
 }
 .SampleNamespace\.LinearInputControl input[type=range].linear-slider:focus {
    outline: none;
 }
 .SampleNamespace\.LinearInputControl input[type=range].linear-slider::-webkit-slider-runnable-track {   
    background: #666;
    height:2px;
    cursor:pointer
 }   
 .SampleNamespace\.LinearInputControl input[type=range].linear-slider::-webkit-slider-thumb {   
    background: #666;   
    border:0 solid #f00;
    height:24px;
    width:10px;
    border-radius:48px;
    cursor:pointer;
    opacity:1;
    -webkit-appearance:none;
    margin-top:-12px
 }    
 .SampleNamespace\.LinearInputControl input[type=range].linear-slider::-moz-range-track {   
    background: #666;   
    height:2px;
    cursor:pointer  
 }   
 .SampleNamespace\.LinearInputControl input[type=range].linear-slider::-moz-range-thumb {   
    background: #666;   
    border:0 solid #f00;
    height:24px;
    width:10px;
    border-radius:48px;
    cursor:pointer;
    opacity:1;
    -webkit-appearance:none;
    margin-top:-12px
 }   
 .SampleNamespace\.LinearInputControl input[type=range].linear-slider::-ms-track {   
    background: #666;   
    height:2px;
    cursor:pointer  
 }    
 .SampleNamespace\.LinearInputControl input[type=range].linear-slider::-ms-thumb {   
    background: #666;   
    border:0 solid #f00;
    height:24px;
    width:10px;
    border-radius:48px;
    cursor:pointer;
    opacity:1;
    -webkit-appearance:none;
 }